* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1rem;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 0.8rem;
  width: 100%;
  background-color: black;
}
.navbar i {
  display: none;
  color: black;
}
.navbar .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}
.navbar .nav-container .nav-title {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 20%;
}
.navbar .nav-container .nav-title img {
  height: 50px;
  width: 70px;
}
.navbar .nav-container .nav-title h1 {
  font-size: 2.2rem;
  color: white;
}
.navbar .nav-container ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 80%;
}
.navbar .nav-container ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  color: white;
  list-style: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 1rem;
}

.Sorting {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1400px;
}
.Sorting a {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 30px;
  width: 30px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin: 1rem 0 0 1rem;
  transition: all 0.2s ease-in-out;
}
.Sorting a i {
  font-size: 20px;
}
.Sorting a:hover {
  background-color: white;
  color: black;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65%;
  width: 80%;
  transition: all 0.3s ease;
}
.Container #cellContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  padding: 3rem 0;
  max-width: 800px;
}
.Container #cellContainer .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.5s;
  height: 60px;
  width: 60px;
  font-size: 25px;
  color: white;
  background-color: #0093e9;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}
.Container #cellContainer .current {
  background-color: red;
}
.Container #cellContainer .compare {
  background-color: rgb(255, 162, 0);
}
.Container #cellContainer .sorted {
  animation: flow 0.3s ease;
  background-color: lightgreen;
}
.Container #cellContainer .bubble {
  background-color: lightgreen;
  animation: Bubble 0.3s forwards;
}
.Container .arrow-ConatainerDown {
  width: 100%;
  max-width: 800px;
  position: relative;
  padding: 1rem;
  height: 40px;
}
.Container .arrow-ConatainerDown #arrowJ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  font-size: 2rem;
  transition: all 0.3s ease;
}
.Container .arrow-ConatainerDown #arrowJ span {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.arrow-ConatainerUp {
  width: 100%;
  max-width: 800px;
  position: relative;
  padding: 1rem;
  height: 40px;
}
.arrow-ConatainerUp #arrowI {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  font-size: 2rem;
  transition: all 0.3s ease;
}
.arrow-ConatainerUp #arrowI span {
  position: absolute;
  bottom: 40px;
  text-align: end;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.btn-container button {
  cursor: pointer;
  padding: 0.8rem 2.5rem;
  background: black;
  transition: 0.25s ease-in-out;
  border: 2px solid black;
  border-radius: 0.2rem;
  color: white;
  font-size: 0.9rem;
  margin: 1.2rem 1.2rem 0 0;
}
.btn-container button:hover {
  background: white;
  color: black;
}

@keyframes flow {
  from {
    transform: scale(0);
  }
  50% {
    border-radius: 50%;
  }
  to {
    transform: scale(1);
  }
}
@keyframes Bubble {
  from {
    transform: scale(0.3);
  }
  50% {
    border-radius: 50%;
  }
  to {
    transform: scale(1);
    border-radius: 50%;
  }
}
@keyframes scaleDown {
  from {
    transform: scaleY(0);
    transform-origin: top;
  }
  to {
    transform: scaleY(1);
    transform-origin: top;
  }
}
/* ---------------------------------------------------- MEDIA QUERIES --------------------------------------------------------------- */
@media (max-width: 1300px) {
  .navbar .nav-container .nav-title {
    gap: 1rem;
  }
  .navbar .nav-container .nav-title h1 {
    font-size: 1.8rem;
  }
  .navbar .nav-container .nav-title img {
    height: 40px;
    width: 55px;
  }
}
@media (max-width: 1100px) {
  .navbar .nav-container .nav-title {
    width: 25%;
    gap: 1rem;
  }
  .navbar .nav-container .nav-title h1 {
    font-size: 1.8rem;
  }
  .navbar .nav-container .nav-title img {
    height: 40px;
    width: 55px;
  }
  .navbar .nav-container ul {
    width: 75%;
  }
}
@media (max-width: 1000px) {
  .navbar {
    padding: 0.5rem;
    transition: all 0.3s ease;
  }
  .navbar i {
    display: block;
    font-size: 2rem;
    color: white;
    margin-top: 2.5rem;
    cursor: pointer;
  }
  .navbar .nav-container {
    display: flex;
    justify-content: start;
  }
  .navbar .nav-container .nav-title {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
    width: 30%;
  }
  .navbar .nav-container .nav-title h1 {
    font-size: 2.5rem;
    color: white;
  }
  .navbar .nav-container .nav-title img {
    height: 50px;
    width: 65px;
  }
  .navbar .nav-container ul {
    display: none;
  }
  .navbar .nav-container ul li {
    width: 50%;
  }
  .navbar .nav-container .ULColumn {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .Column {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .anim {
    animation: scaleDown 0.3s ease;
    transition: all 0.3s ease;
  }
  main .Sorting .Container {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .navbar {
    padding: 0.5rem 2rem;
  }
  .navbar i {
    font-size: 1.9rem;
    color: white;
    margin-top: 2.5rem;
  }
  .navbar .nav-container .nav-title {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  main .Sorting .Container #cellContainer .cell {
    font-size: 1.5rem;
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 500px) {
  .navbar .nav-container .nav-title {
    width: 70%;
  }
  .navbar .nav-container ul li {
    width: 100%;
  }
  main .Sorting .Container #cellContainer .cell {
    font-size: 1rem;
    height: 45px;
    width: 45px;
  }
}
@media (max-width: 400px) {
  .navbar .nav-container .nav-title {
    width: 100%;
  }
  .navbar .nav-container .nav-title h1 {
    font-size: 2.5rem;
  }
  .navbar .nav-container .nav-option ul {
    display: none;
  }
  main {
    padding: 0;
  }
  main .Sorting .Container {
    height: 60%;
  }
  main .Sorting .Container #cellContainer .cell {
    font-size: 1rem;
    height: 40px;
    width: 40px;
  }
  main .Sorting .btn-container button {
    padding: 0.6rem 2.2rem;
  }
}
@media (max-width: 360px) {
  .navbar i {
    margin-top: 2.3rem;
  }
  .navbar .nav-container .nav-title img {
    height: 40px;
    width: 50px;
  }
  .navbar .nav-container .nav-title h1 {
    font-size: 2.4rem;
  }
  .navbar .nav-container .nav-option ul {
    display: none;
  }
}/*# sourceMappingURL=Sorting.css.map */